@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Rubik:wght@700&display=swap');

* {
    font-family: 'Inter', 'Lato', 'Rubik';
    box-sizing: border-box;
}

:root {
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    --color-principal: #980CF7;
    --color-secundario: #F76818;
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.menu_mobile_close {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: #FFF9EE;
}

header {
    background-color: #FFFFFF;
    padding: 20px 40px;
}

.container_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.container_menu_int {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.area_menu {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.area_logo {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.border_header {
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 80%;
}

.title_logo h2 {
    font-family: 'Lato';
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: #000000;
    margin: 0px;
}

a {
    text-decoration: none;
}

nav {
    background-color: transparent !important;
    height: max-content !important;
    box-shadow: none !important;
    width: max-content !important;
}

nav ul a {
    padding: 0px !important;
}

nav ul a:hover {
    background-color: transparent !important;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav ul li {
    font-family: 'Lato';
    font-weight: var(--font-weight-700);
    font-size: 16px;
    line-height: 19px;
    color: #1E1E1E;
    max-width: 80px;
}

nav ul li:hover {
    color: #000000;
}

.area_btn_menu {
    position: relative;
}

.area_drop_down_perfil {
    position: absolute;
    display: none;
    top: 80px;
    padding: 25px 30px;
    height: 300px;
    width: 205px;
    background: #FFFCF8;
    border: 1px solid #F9ECD4;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    z-index: 99;
}

.area_drop_down_perfil .mobile {
    position: absolute;
    display: none;
    top: 80px;
    padding: 25px 30px;
    height: 300px;
    width: 205px;
    background: #FFFCF8;
    border: 1px solid #F9ECD4;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
}

.area_drop_down_perfil.open {
    display: flex;
}

.area_drop_down_perfil.close {
    display: none;
}

.area_drop_down_perfil_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.area_drop_down_perfil_int a {
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 14px;
    color: #1E1E1E;
}

.area_drop_down_perfil_int a:hover {
    color: var(--color-principal);
}

.color_menu {
    color: var(--color-principal) !important;
}

.btn_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: var(--color-principal);
    max-width: max-content;
    padding: 15px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btn_menu h2 {
    font-family: 'Lato';
    font-weight: var(--font-weight-700);
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0px;
}

.animation_btns {
    transition: all ease 300ms;
}

.animation_btns:hover {
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
}

.animation_btns:hover h2 {
    color: #FFFFFF;
}

/*Container 1*/

.container_1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_1_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.area_container_1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.card_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 373px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid #FF9E67;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card_perfil_int {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    gap: 15px;
    width: 100%;
}

.card_perfil_int img {
    max-width: 80px;
    width: 100%;
}

.title_perfil h2 {
    font-weight: var(--font-weight-700);
    font-size: 22px;
    text-align: center;
    color: #333333;
    margin: 0px;
}

.info_perfil p {
    font-weight: var(--font-weight-400);
    font-size: 14px;
    text-align: center;
    color: rgba(21, 21, 21, 0.5);
    margin: 0px 0px 10px 0px;
}

.btn_perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 50px;
    background-color: var(--color-principal);
    border-radius: 5px;
    padding: 15px 0px;
}

.btn_perfil h2 {
    font-weight: var(--font-weight-700);
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px;
}

.card_ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 474px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid #FF9E67;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.card_ranking_int {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 40px;
    height: 100%;
    gap: 25px;
    width: 100%;
}

.card_ranking_int img {
    width: 100%;
    max-width: max-content;
}

.title_ranking h2 {
    font-weight: var(--font-weight-700);
    font-size: 22px;
    color: #333333;
    margin: 0px;
}

.area_ranking_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.area_ranking {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.area_ranking_int {
    display: flex;
    align-items: center;
    gap: 10px;
}

.area_ranking img {
    max-width: max-content;
    width: 100%;
}

.rankings {
    display: flex;
    align-items: center;
    gap: 5px;
}

.numero {
    font-weight: var(--font-weight-700);
    font-size: 24px;
    color: var(--color-secundario);
}

.nome_ranking h2 {
    font-weight: var(--font-weight-400);
    font-size: 14px;
    color: #1E1E1E;
    margin: 0px;
}

.xp_ranking h2 {
    font-weight: var(--font-weight-700);
    font-size: 15px;
    color: var(--color-secundario);
    margin: 0px;
}

.card_tempo {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 272px;
    height: 369px;
    background: #FFFFFF;
    border: 1px solid #FF9E67;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 40px;
}

.card_tempo_int {
    display: flex;
}

.area_tempo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
}

.area_tempo img {
    max-width: max-content;
    width: 100%;
}

.title_tempo h2 {
    font-weight: var(--font-weight-700);
    font-size: 22px;
    color: #333333;
    margin: 0px;
}

.info_tempo p {
    font-weight: var(--font-weight-400);
    font-size: 14px;
    color: rgba(21, 21, 21, 0.5);
    margin: 0px 0px 10px 0px;
}


.area_jornada {
    height: 200px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #FF9E67;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.area_jornada_int {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 0px 60px;
}

.area_file {
    display: flex;
    align-items: center;
    gap: 30px;
}

.title_file h2 {
    font-weight: var(--font-weight-700);
    font-size: 22px;
    color: #1E1E1E;
    margin: 0px;
}

.area_numeros_jornada {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.area_numeros_jornada_int {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 95px;
}

.info_numeros_jornada p {
    font-weight: var(--font-weight-700);
    font-size: 72px;
    line-height: 100%;
    color: #151515;
    margin: 0px;
}

.title_numeros_jornada h2 {
    font-weight: var(--font-weight-400);
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #1E1E1E;
    margin: 0px;
}

/*container 2*/

.container_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFF9EE;
}

.container_2_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.area_btns_cursos {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #FFF9EE;
}

.btn_cursos_opcao .select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    max-width: 380px;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
    border-radius: 10px 10px 0px 0px;
}

.title_btn_cursos_opcao.select h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #FFFFFF;
    margin: 0px;
}

.title_btn_cursos_opcao h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #1E1E1E;
    margin: 0px;
}

.btn_cursos_opcao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    max-width: 380px;
    background-color: #FFFFFF;
    border: 1px solid var(--color-secundario);
    border-radius: 10px 10px 0px 0px;
}

.area_container_2_total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;

}

.area_pesquisa {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0px 0px 0px;
    width: 100%;
    max-width: 1180px;
}

.title_cursos_pesquisa h2 {
    font-weight: var(--font-weight-700);
    font-size: 26px;
    color: #1E1E1E;
    margin: 0px;
}

.pesquisa {
    filter: drop-shadow(0px 10px 16px rgba(0, 0, 0, 0.071));
    background-color: #FFFFFF !important;
    width: 100%;
    max-width: 1100px;
    height: 70px !important;
    border-radius: 4px !important;
    border: none !important;
    padding-left: 70px !important;
    font-weight: var(--font-weight-500);
    font-size: 18px;
    color: #999999;
    margin: 0px !important;
}

.pesquisa::placeholder {
    font-weight: var(--font-weight-500);
    font-size: 18px;
    color: #999999;
}

.pesquisa:focus {
    border-bottom: 0px !important;
    box-shadow: 0px !important;
}

.area_lupa {
    position: relative;
}

.area_lupa img {
    position: absolute;
    top: 25%;
    left: 20px;
    width: 30px;
    height: 30px;
    z-index: 1;
}

.enviar {
    position: absolute;
    right: 20px;
    top: 20%;
    width: 100%;
    max-width: max-content;
    background-color: var(--color-principal);
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: #FFFFFF;
    z-index: 1;
    border: 0px;
}

.area_container_2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 40px 0px 0px 0px;
}

.card_cursos_online {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 6px 9px 18px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    max-width: 272px;
    width: 100%;
    padding: 0px 0px 20px 0px;
}

.card_cursos_online_int {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.curso_online_destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    max-width: max-content;
    width: 100%;
    background-color: #F76818;
    border-radius: 30px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.curso_online_destaque h2 {
    font-weight: var(--font-weight-700);
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin: 0px;
}

.area_img_cursos_online {
    position: relative;
}

.area_img_cursos_online img {
    width: 100%;
    max-width: max-content;
}

.area_texts_cursos_online {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    padding: 30px 25px 30px 25px;
}

.title_cursos_online h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #1E1E1E;
    margin: 0px;
}

.sub_title_cursos_online p {
    font-weight: var(--font-weight-400);
    font-size: 13px;
    line-height: 118%;
    color: #1E1E1E;
    margin: 0px;
}

.area_info_cursos_online {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px 25px 15px 25px;
}

.area_info_cursos_online_int {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title_info_cursos_online h2 {
    font-weight: var(--font-weight-400);
    font-size: 12px;
    color: #1E1E1E;
    margin: 0px;
}

.area_btn_info {
    margin-top: 10px;
}

.btn_info_cursos_online {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    max-width: 220px;
    background-color: transparent;
    border: 1px solid var(--color-principal)
}

.btn_info_cursos_online h2 {
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: var(--color-principal);
    margin: 0px;
}

/*Container finalizados*/

.container_finalizados {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.container_finalizados_int {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1170px;
}

.area_finalizados {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.area_texts_finalizados {
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.info_finalizados p {
    font-weight: var(--font-weight-400);
    font-size: 22px;
    color: #608476;
    margin: 0px;
}

.title_finalizados h2 {
    font-weight: var(--font-weight-700);
    font-size: 26px;
    color: #151515;
    margin: 0px;
}


.container_tabela {
    padding: 30px 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 6px 9px 18px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    width: 100%;

}

.area_certificado {
    display: flex;
    align-items: center;
    gap: 20px;
}

.area_certificado img {
    width: 100%;
    max-width: 18px;
    height: 18px;
}

.btn_certificado {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #F76818;
    border-radius: 8px;
}

.btn_certificado h2 {
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: var(--color-secundario);
    margin: 0px;
}

bordered thead tr th {
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: #151515;

}

td,
th {
    padding: 15px 30px !important;
}

table.striped>tbody>tr>td {
    font-weight: var(--font-weight-400);
    font-size: 12px;
    color: #151515;
}

table.centered thead tr th,
table.centered tbody tr td {
    text-align: left !important;
}

table.striped>tbody>tr:nth-child(odd) {
    background-color: #ebebeb !important;
}

/*Faq*/

.container_faq {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_faq_int {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1170px;
}

.area_faq {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.title_faq h2 {
    font-weight: var(--font-weight-700);
    font-size: 26px;
    color: #151515;
    margin: 0px;
}

.fale_conosco {
    padding: 50px 60px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 6px 9px 18px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
}

.fale_conosco_int {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
}

.area_1_fale_conosco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 320px;
}

.btn_fale_conosco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px 20px;
    border: 1px solid #FFD1B7;
    border-radius: 8px;
}

.btn_fale_conosco h2 {
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: #F76818;
    margin: 0px;
}

.area_2_fale_conosco {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 320px;
}

.title_fale_conosco h2 {
    font-weight: var(--font-weight-700);
    font-size: 18px;
    color: #151515;
    margin: 0px;
}

.sub_title_fale_conosco p {
    font-weight: var(--font-weight-400);
    font-size: 13px;
    line-height: 138%;
    color: #151515;
    margin: 0px;
}

.area_horario_fale_conosco {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title_horario_fale_conosco h2 {
    font-weight: var(--font-weight-400);
    font-size: 13px;
    color: #151515;
    margin: 0px;
}

.area_3_fale_conosco {
    width: 100%;
    max-width: 320px;
}

.btn_suporte {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--color-principal);
    border: 1px solid var(--color-principal);
    border-radius: 8px;
}

.btn_suporte h2 {
    font-weight: var(--font-weight-700);
    font-size: 14px;
    color: #FFFFFF;
    margin: 0px;
}

/*Footer*/
footer {
    padding: 40px 0px 0px 0px;
    background-color: #FFFFFF;
    margin: 40px 0px 0px 0px;
}

.container_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer_col_1 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    max-width: 520px;
}

.footer_col_2_total {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.footer_col_2 {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: max-content;
}

.area_texts_footer_int {
    display: flex;
    align-items: center;
    gap: 10px;
}

.area_texts_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title_footer_int h2 {
    font-family: 'Lato';
    font-weight: var(--font-weight-400);
    font-size: 16px;
    color: rgba(30, 30, 30, 0.7);
    margin: 0px;
}

.title_footer_int h2:hover {
    color: #16316F;
}

.title_footer h2 {
    font-family: 'Lato';
    font-weight: var(--font-weight-700);
    font-size: 20px;
    color: #1E1E1E;
    margin: 0px;
}

.sub_title_footer p {
    font-family: 'Lato';
    font-weight: var(--font-weight-400);
    font-size: 16px;
    line-height: 19px;
    color: rgba(30, 30, 30, 0.7);
    margin: 0px;
}

.copy {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 20px 0px;
    width: 100%;
    margin-top: 20px;
}

.border_footer {
    border: 1px solid #1E1E1E;
    width: 100%;
}

.copy_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.area_copy {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 20px;
    width: 100%;
}

.title_copy h2 {
    font-family: 'Lato';
    font-weight: var(--font-weight-400);
    font-size: 14px;
    color: #1E1E1E;
    margin: 0px;
}

.area_redes {
    display: flex;
    align-items: center;
    gap: 40px;
}


@media(max-width: 1024px) {


    .area_drop_down_perfil_int {
        text-align: left;
    }

    .area_drop_down_perfil {
        top: 70px;
    }

    .area_faq {
        padding: 0px 20px;
    }

    nav ul {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;

    }

    .menu_mobile nav ul li a:hover {
        color: #fff;
    }

    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 110px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        right: 40px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }

    .menu_mobile_close div {
        width: 40px;
        height: 4px;
        border-radius: 100px;
        background: #151515;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }


    .menu_mobile_open div {
        width: 40px;
        height: 4px;
        border-radius: 100px;
        background: #151515;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 400ms;
        display: none;
        justify-content: center;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 120px;
        left: 0px;
        background: #E5EEEB;
        box-shadow: 0px 4px 43px rgba(255, 255, 255, 0.36);
        z-index: 10;
        padding: 40px 0px 40px 0px;
    }

    .menu_mobile {
        padding: 20px 0px 20px 0px;
    }

    nav ul li {
        max-width: max-content;
    }

    .menu_mobile nav {
        width: 100% !important;
        padding: 0px 25px;
    }

    nav ul {
        align-items: flex-start;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }

    .card_perfil {
        max-width: 474px;
    }

    .card_tempo {
        max-width: 474px;
    }

    /*Container 1*/
    .container_1 {
        padding: 40px 0px 40px 0px;
    }

    .area_container_1 {
        flex-direction: column;
        align-items: center;
    }

    /*Container 2*/
    .area_container_2 {
        padding: 40px 0px;
    }

    .area_pesquisa {
        max-width: 680px;
        gap: 20px;
    }

    .pesquisa {
        max-width: 600px;
    }

    .btn_cursos_opcao .select {
        height: 60px;
    }

    .btn_cursos_opcao {
        height: 60px;
    }

    .title_btn_cursos_opcao.select h2 {
        font-size: 16px;
    }

    .title_btn_cursos_opcao h2 {
        font-size: 16px;
    }

    .area_btns_cursos {
        flex-direction: column;
        align-items: center;
    }


    /*Fale conosco*/
    .fale_conosco {
        padding: 50px 20px;
    }

    .fale_conosco_int {
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .area_horario_fale_conosco {
        justify-content: center;
    }

    /*Jornada*/
    .area_jornada {
        height: 100%;
        padding: 40px 0px;
    }

    .area_jornada_int {
        flex-direction: column;
        gap: 20px;
    }

    .area_numeros_jornada {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .area_numeros_jornada_int {
        gap: 5px;
    }

    .info_numeros_jornada p {
        font-size: 42px;
    }

    .title_numeros_jornada h2 {
        font-size: 14px;
        line-height: 18px;
    }

    .area_file {
        gap: 10px;
        flex-direction: column;
    }

    .title_file h2 {
        font-size: 20px;
    }

    .area_file img {
        width: 100%;
        max-width: 40px;
    }

    .area_finalizados {
        padding: 0px 20px;
        gap: 20px;
    }



    td,
    th {
        padding: 15px 15px !important;
    }

    table.responsive-table thead {
        display: flex !important;
        width: 100% !important;
        float: none;
    }

    table.responsive-table {
        display: inline-table !important;
    }

    table.responsive-table thead tr {
        display: flex !important;
        justify-content: space-between !important;
        padding: 0 10px 0 0 !important;
        width: 100% !important;
    }

    table.responsive-table tbody {
        display: inline-table !important;
        width: 100% !important;
    }

    table.responsive-table.bordered tbody tr {
        border-right: 1px solid #d0d0d0;
        display: flex !important;
        width: 100% !important;
        align-items: center !important;
        justify-content: space-between !important;
    }

    /*footer*/
    .area_footer {
        flex-direction: column;
        align-items: center;
        padding: 0px 20px;
        gap: 40px;
    }

    .footer_col_1 {
        align-items: center;
        max-width: 470px;

    }

}

@media(max-width: 480px) {

    /*Container 1*/
    header {
        background-color: #FFFFFF;
        padding: 20px 20px;
    }

    .area_logo img {
        width: 100%;
        max-width: 140px;
    }

    .title_logo h2 {
        font-size: 12px;
    }

    .area_logo {
        gap: 10px;
        max-width: 280px;
    }

    .area_container_1 {
        gap: 20px;
        padding: 0px 20px 0px 20px;
    }

    .title_perfil h2 {
        font-size: 20px;
    }

    .btn_perfil {
        width: 200px;
    }

    .btn_perfil h2 {
        font-size: 14px;
    }

    .pesquisa {
        max-width: 400px;
        height: 60px !important;
        padding-left: 40px !important;
    }

    .title_ranking h2 {
        font-size: 20px;
    }

    .card_ranking {
        max-width: 100%;
        height: max-content;
        padding: 40px 0px;
    }

    .card_perfil {
        max-width: 100%;
        height: max-content;
        padding: 40px 0px;
    }

    .card_tempo {
        max-width: 100%;
        height: max-content;
        padding: 40px 0px;
    }

    .area_ranking {
        gap: 10px;
    }

    .card_ranking_int {
        gap: 20px;
        padding: 0px 20px;
        align-items: center;
    }

    .card_tempo_int {
        display: flex;
        align-items: center;
    }

    .area_tempo {
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .numero {
        font-size: 18px;
    }

    .nome_ranking h2 {
        font-size: 14px;
    }

    .xp_ranking h2 {
        font-size: 12px;
    }

    /*Container 2*/
    .area_texts_cursos_online {
        padding: 20px 25px 20px 25px;
        width: 100%;
        max-width: max-content;
    }

    .card_cursos_online {
        max-width: 385px;
    }

    .card_cursos_online_int {
        align-items: flex-start;
    }

    .card_cursos_online_int img {
        width: 100%;
    }

    .area_info_cursos_online {
        width: 100%;
    }

    .btn_info_cursos_online {
        width: 100%;
        max-width: 100%;
    }

    .area_img_cursos_online img {
        height: 300px;
        width: 385px;
        max-width: 100%;
    }

    /*Jornada*/
    .area_btns_cursos {
        padding: 0px 20px;
    }

    .area_numeros_jornada_int {
        max-width: 65px;
    }

    .area_container_2 {
        padding: 20px 20px;
    }

    .info_numeros_jornada p {
        font-size: 32px;
    }

    .area_jornada_int {
        padding: 0px 20px;
    }

    .info_numeros_jornada p {
        font-size: 26px;
    }

    .title_numeros_jornada h2 {
        font-size: 12px;
        line-height: 14px;
    }

    .area_jornada {
        padding: 40px 0px;
    }

    .area_pesquisa {
        max-width: 100%;
        gap: 20px;
    }

    form {
        display: flex;
        justify-content: center;
        padding: 0px 20px;
    }

    .area_lupa img {
        position: absolute;
        top: 30%;
        left: 30px;
        width: 20px;
        height: 20px;
    }

    .pesquisa::placeholder {
        font-size: 16px;
    }

    .enviar {
        right: 30px;
        top: 20%;
        padding: 10px;
        font-size: 12px;
    }

    .title_cursos_pesquisa h2 {
        font-size: 24px;
        padding: 0px 20px;
        text-align: center;
    }

    /*Certificado*/
    .area_certificado {
        gap: 10px;
    }

    .btn_certificado {
        padding: 10px 10px;
    }

    /*Finalizados*/
    .container_finalizados {
        padding: 40px 0px 40px 0px;
    }

    .container_tabela {
        padding: 20px 0px;
    }

    .info_finalizados p {
        font-size: 20px;
    }

    .title_finalizados h2 {
        font-size: 24px;
    }

    /*Faq*/
    .title_faq h2 {
        font-size: 24px;
        text-align: center;
    }

    .fale_conosco {
        padding: 40px 20px;
    }

    /*Footer*/
    footer {
        padding: 40px 0px 0px 0px;
    }

    .area_footer {
        gap: 20px;
    }

    .footer_col_2_total {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        max-width: 345px;
        width: 100%;
    }

    .area_texts_footer {
        align-items: flex-start;
    }

    .footer_col_1 {
        width: 100%;
        max-width: 345px;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
    }

    .title_footer h2 {
        font-size: 18px;
        color: #1E1E1E;
    }

    .copy {
        background-color: #FFFFFF;
        margin-top: 10px;
    }

    .area_copy {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .title_copy h2 {
        font-family: 'Lato';
        font-weight: var(--font-weight-400);
        font-size: 14px;
        color: #1E1E1E;
        margin: 0px;
    }

    .border_footer {
        border: 1px solid #1E1E1E;
        width: 100%;
        max-width: 310px;
    }

    .area_redes {
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 0px 0px 0px 0px;
    }

    .sub_title_footer p {
        color: rgba(30, 30, 30, 0.5);
    }

    .title_footer_int h2 {
        color: rgba(30, 30, 30, 0.5);
    }

    table.responsive-table.bordered th {
        padding: 15px 5px !important;
    }

    table.responsive-table thead tr {
        padding: 0 0px 0 0 !important;
    }

    td,
    th {
        padding: 15px 10px !important;
    }

    table.responsive-table.bordered th {
        font-size: 10px;
    }

    table.responsive-table.bordered td {
        font-size: 10px;
    }


    table.responsive-table.bordered tbody tr {
        justify-content: flex-start !important;
        align-items: center !important;
        gap: 55px;
        padding: 0px 0px 0px 0px !important;
    }

}



/****** Página login ******/

.container_login {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 80px 0px 80px 0px;
    height: 65vh;
}

.container_login_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_login {
    margin: 0px 20px;
    padding: 40px 50px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.02);
    border-radius: 16px;
    height: 500px;
    width: 100%;
    max-width: 460px;
}

.area_login_int {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title_login h2 {
    font-weight: var(--font-weight-700);
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #1E1E1E;
    margin: 0px;
}

.area_form_login {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

#login {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

.area_form_login input {
    background: #FFFFFF;
    border: 1px solid #4E4E4E;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    width: 100%;
    height: 50px;
}

.area_form_login input::placeholder {
    font-weight: var(--font-weight-400);
    font-size: 12px;
    line-height: 24px;
    color: rgba(30, 30, 30, 0.7);
}

.area_enviar_login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 40px;
}

.area_enviar_login input {
    height: 50px;
    width: 100%;
    background: #980CF7;
    border-radius: 5px;
    font-weight: var(--font-weight-500);
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all ease 300ms;
}

.area_enviar_login input:hover {
    background-color: transparent;
    border: 1px solid var(--color-principal);
    color: #980CF7;
}

.info_senha p {
    font-weight: var(--font-weight-500);
    font-size: 12px;
    text-align: center;
    color: #980CF7;
    margin: 0px;
    cursor: pointer;
}

@media (min-width: 700px) and (orientation: landscape) {
    .container_login {
        height: 100%;
        padding: 40px 0px 20px 0px;
    }
}

@media(max-width: 480px) {
    .container_login {
        height: 100%;
        padding: 60px 0px 40px 0px;
    }

    .area_login {
        height: 100%;
        padding: 30px;
    }

    .area_login form {
        padding: 0px;
    }
}

/******  Página inscrição 2 ******/

.container_inscricao {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
    height: 65vh;
}

.container_inscricao_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1280px;
}

.area_nome_curso {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    justify-content: center;
    width: 100%;
    padding: 40px 0px 0px 0px;
}

.area_nome_curso img {
    border-radius: 20px;
    max-width: max-content;
    width: 100%;
}

.area_texts_curso {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 640px;
}

.line_curso_novo {
    width: 100%;
    height: 2px;
    background-color: #707070;
    opacity: 0.22;
    margin-top: 40px;
}

.title_curso_novo h2 {
    font-weight: var(--font-weight-700);
    font-size: 30px;
    color: #F76818;
    margin: 0px;
}

.area_info_curso_novo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title_info_curso_novo h2 {
    font-weight: var(--font-weight-500);
    font-size: 16px;
    color: #F76818;
    margin: 0px;
}

.sub_title_info_curso_novo p {
    font-weight: var(--font-weight-400);
    font-size: 13px;
    line-height: 16px;
    color: #1E1E1E;
    margin: 0px;
}

.area_inscricao_curso_novo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 14px;
    width: 100%;
}

.area_info_inscricao {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.area_info_texts_inscricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}

.title_texts_incricao h2 {
    font-weight: var(--font-weight-400);
    font-size: 10px;
    line-height: 12px;
    color: rgba(30, 30, 30, 0.7);
    margin: 0px;
}

.sub_title_texts_incricao p {
    font-family: 'Rubik';
    font-weight: var(--font-weight-500);
    font-size: 14px;
    line-height: 17px;
    color: rgba(30, 30, 30, 0.7);
    margin: 0px;
}

.area_btns_curso_novo {
    display: flex;
    gap: 30px;
}

.btn_voltar {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.title_btn_voltar h2 {
    font-weight: var(--font-weight-700);
    font-size: 9px;
    color: #F76818;
    margin: 0px;
}

.btn_inscreva_se {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 200px;
    padding: 15px 20px;
    background: #980CF7;
    border-radius: 5px;
    cursor: pointer;
}

.title_btn_inscreva_se h2 {
    font-weight: var(--font-weight-700);
    font-size: 9px;
    color: #FFFFFF;
    margin: 0px;
}

.area_inscricao {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    filter: drop-shadow(0px 13px 30px rgba(0, 0, 0, 0.071));
    border-radius: 40px;
    background: #FFFFFF;
    padding: 60px 80px;
    height: 600px;
}

.area_inscricao_int {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100% - 100px);
}

.numeracao_info_inscricao {
    display: flex;
    width: 100%;
    position: relative;
}

.numeracao_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #FCB21D;
}

.area_numeracao_inscricao {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: 0px;
}

.area_numeracao_inscricao_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: calc(50% - 40px);
}

.numeracao_info_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #FCB21D;
}

.area_numeracao_inscricao_3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: calc(100% - 80px);
    max-width: 100px;
}

.numeracao_info_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: transparent;
    border: 2px solid #F76818;

}

.numero_title_inscricao_3 h2 {
    font-family: 'Rubik';
    font-weight: var(--font-weight-500);
    font-size: 14px;
    color: #F76818;
    margin: 0px;
}

.numero_title_inscricao_info_3 h2 {
    font-family: 'Rubik';
    font-weight: var(--font-weight-700);
    font-size: 12px;
    color: #F76818;
    margin: 0px;
    text-align: center;
}

.numero_title_inscricao_info h2 {
    font-family: 'Lato';
    font-weight: var(--font-weight-700);
    font-size: 12px;
    color: #F76818;
    margin: 0px;
}

.numero_title_inscricao h2 {
    font-family: 'Rubik';
    font-weight: var(--font-weight-500);
    font-size: 14px;
    color: #FFFFFF;
    margin: 0px;
}

.line_inscricao {
    position: absolute;
    left: 50px;
    top: 15px;
    width: 50%;
    height: 4px;
    background-color: #FCB21D;
    z-index: -1;
}

.line_inscricao_2 {
    position: absolute;
    left: calc(50% + 70px);
    top: 15px;
    width: 50%;
    height: 2px;
    background-color: #F76818;
    z-index: -1;
    opacity: 0.18;
}

@media(max-width: 1024px) {
    .container_inscricao {
        height: 100%;
        padding: 60px 0px 30px 0px;
    }

    .area_inscricao {
        height: 100%;
        padding: 40px 60px;
    }

    .area_nome_curso {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .area_texts_curso {
        text-align: left;
    }

    .line_curso_novo {
        margin-top: 20px;
    }
}

@media(max-width: 768px) {
    .container_inscricao {
        padding: 40px 0px 0px 0px;
    }

    .area_inscricao_curso_novo {
        flex-wrap: wrap;
        justify-content: center;
    }

    .area_nome_curso {
        gap: 20px;
    }

    .area_inscricao {
        height: 100%;
        padding: 40px 40px;
    }

    .title_curso_novo h2 {
        font-size: 26px;
    }
}

@media(max-width: 480px) {
    .area_nome_curso .curso_novo_img {
        max-width: 100%;
        width: 100%;
    }

    .line_curso_novo {
        margin-top: 10px;
    }
}